In [ ]:

#1
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

In [ ]:
#2
atuple=(10, 20, 24, 25, 26, 35, 70)
len1=len(atuple)
new=atuple[2:len1-2]
print(new)

(24, 25, 26)

In [ ]:
#3
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print("Size of the tuple is:",len(book_info))
for i in book_info:
    print(i).

Size of the tuple is: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
#4
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
)


len1=len(book_info)

for i in  range(len1):
  print("{} won the '{}' category with {} votes.".format(book_info[i][1],book_info[i][0], book_info[i][2]))

The Silent Patient won the 'Best Mystery & Thriller' category with 68821 votes.
The Institute won the 'Best Horror' category with 75717 votes.
The five won the 'Best History & Biography' category with 31783 votes.
The Testaments won the 'Best Fiction' category with 98291 votes.

In [ ]:
#5
given_tuple= (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
inp=int(input('sir, enter your number:'))
count=0
for i in given_tuple:
  if inp==i:
    count=count+1
print(inp, 'appears' ,count , 'times in the tuple')

sir, enter your number:8
8 appears 4 times in the tuple

In [ ]:
#6
giventuple= ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1=list(giventuple)


len1=len(list1)
newlist=list1[-1::-1]
newtuple=tuple(newlist)
print(newtuple)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
#7
dict1= {'Harry':15, 'Draco':8, 'Nevil':19}
dict3={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}

dict3.update(dict2)
print(dict3)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
#8
#todo
salary = {'Jon': 100, 'Dan':200, 'Rob':300}
sum = 0
counter = 0

for item in salary.values():
    sum=sum+item
    counter+=1
avg=sum/counter
print("Average is",int(avg))

Average is 200

In [ ]:
#9
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
new_dict={}
num=int(input())
for key,value in exam_marks.items():
  if value>num:
    new_dict[key]=value
print(new_dict)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
#10
dict1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
largest=0
new_dict={}
for i,j in dict1.items():
  if j>largest:
    largest=j
    new_dict=i
print(f"The highest selling book genre is,'{new_dict}',and the number of books sold are,'{largest}'")

The highest selling book genre is,'mystery',and the number of books sold are,'15'

In [ ]:
#task10
dic1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=None
new_dic={}
for key,val in dic1.items():
  if max==None or val>max:                #dont use
    max=val
    new_dic1=key
print(new_dic1,max)

mystery 15

In [ ]:
#11
dict_1="Python programming is fun"
small=dict_1.lower()
nword=''

for char in small:
  if char!=' ':
    nword=nword+char

new_dict={}
for i in nword:
  if i not in new_dict:
    new_dict[i]=1
  else:
    new_dict[i]+=1
print(new_dict)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
#12
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
 
count=0

for value in dict_1.values():
   for i in value:
     count=count+1
print(count)

9

In [ ]:
#13
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

list_a=[]
list_b=[]
list_c=[]

for i in list_1:
  if i[0]=='a':
    list_a.append(i[1])
  elif i[0]=='b':
    list_b.append(i[1]) 
  elif i[0]=='c':
    list_c.append(i[1])  

new_dict={'a':list_a,'b':list_b,'c':list_c}
print(new_dict)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}

In [ ]:
(6 - 22 % 8) * 3

0

In [ ]:
dict1 = {'a':59 , 'b':-82 , 'c':5 , 'd':-81 , 'e':53}
for i in dict1:
    j = 0
    k = 22
    while j < 5:
        if j % 2 == 0:
            k = dict1[i] + j - (8 + k % 6) / 3
            dict1[i] = dict1[i]+ int(k)
        else:
            k = dict1[i] + j - (6 - k % 8) * 3
            dict1[i] = dict1[i] - int(k)
        j += 1
    print(int(k))
    print(i + " -> " + str(dict1[i]))

8
a -> 17
10
b -> 19
2
c -> 5
-7
d -> -14
2
e -> 5