In [ ]:
a+b
#1
num=int(input("Enter a number to check odd or even: "))
def find_evenodd(num):
    
    if(num%2==0):
        print(num," Is an even")
    else:
        print(num," is an odd")

find_evenodd(num)

Enter a number to check odd or even: 8
8  Is an even

In [ ]:
#2
def fibonacci(x):
  x= int(x)
  a= 0
  b= 1
  print(a,b,end=" ")
  while (a+b)<=x:
    c = a+b
    print(c,end=" ")
    a= b
    b= c
    
fibonacci(10)

5
0 1 1 2 3 5

In [ ]:
#3
inp=int(input('Enter:'))
def foo_moo(inp):

  if inp%2==0:
    print('Foo')
  elif inp%3==0:
    print("Moo") 
  elif inp%2==0 and  inp%3==0 :
    print("FooMoo")
  else:
    print('Boo')

foo_moo(inp)

Enter:5
Boo

In [ ]:
#4
inp=input('Enter:')
def function_name(inp):
  uppercase=0 
  lowercase=0
  for i in inp:
      if i.isupper():
          uppercase+=1
      elif i.islower():
          lowercase+=1


  print('No. of Uppercase characters:',uppercase)
  print('No. of Lowercase Characters:',lowercase)

function_name(inp)    


def function_name(z):
  a= 0
  b= 0
  for i in z:
    if chr(64)<=i<=chr(96):
      a+= 1
    elif chr(97)<= i<= chr(127):
      b+= 1
  print("No. of Uppercase characters :",a) 
  print("No. of Uppercase characters :",b)  
function_name("The quick Sand Man")

Enter:HaRRy PotteR
No. of Uppercase characters: 5
No. of Lowercase Characters: 6

In [ ]:
0//2

0

In [ ]:
#5
age=int(input('Enter age:'))
salary=float(input('enter salary:'))
designation=input('Enter designation:')

def calculate_tax(age,salary,designation):
  tax=0
  if age<18 or designation == 'president' or salary<10000 :
      tax=0
  elif salary>=10000 and salary<=20000:
      tax=salary*(5/100)
  elif salary>20000:
      tax=salary*(10/100)   
  return tax 

calculate_tax(age,salary,designation)

Enter age:20
enter salary:18000
Enter designation:nvcjyrd

900.0

In [ ]:
#6
inp=int(input('Enter:'))
def number_of_days(inp):
  years=inp//365
  rem=inp%365
  month=rem//30
  days=rem%30

  print(years,'years',month,'months',days,'days')
number_of_days(inp)

Enter:4330
11 years 10 months 15 days

In [ ]:
#7
def show_palindrome(inp):
  for i in range(1,inp+1):
    a=print(i,end='')
  for i in range(inp-1,0,-1):
    b=print(i,end='')

show_palindrome(5)

123454321

In [ ]:
#8
x= int(input())
def show_palindrome_triangle(x):
  def show_palindrome(y):
    a=""
    for i in range(1,y+1):
      a=a+str(i)+" "
    for i in range(y-1,0,-1):
      a= a+str(i)+" "
    return a
  for i in range(1,x+1):
    print(" "*(x-i)*2,end="")
    print(show_palindrome(i))
show_palindrome_triangle(x)

5
        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#9
def area_circumference_generator(r):
  import math
  x= 2 * math.pi * r
  y= math.pi * r**2
  a= (y,x) 
  return a 
n= area_circumference_generator(2.5) 
#area_circumference_generator(2.5) 
print(n)
b,c= n
print(f"Area of the circle is {b} and circumference is {c}")

(19.634954084936208, 15.707963267948966)
Area of the circle is 19.634954084936208 and circumference is 15.707963267948966

In [ ]:
#10
def make_square(a_tuple):
  start,end=a_tuple
  a_dict={}

  for i in range(start,end+1):
    key=i
    value=i**2
    a_dict[key]=value
  return a_dict

make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#11
def rem_duplicate(b_tuple):
  a_list=list(b_tuple)
  new_list=[]

  for i  in a_list:
    if i not in new_list:
      new_list.append(i)

  new_tuple=tuple(new_list)
  return new_tuple
rem_duplicate((1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4))

(1, 2, 3, 4)

In [ ]:
#12
def function_name(a_list):

  new_list=[]
  for i in a_list:
    if new_list.count(i)<2:
      new_list.append(i)
  return new_list     

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

In [ ]:
#13
  
operator=input("op:") 
first_num=int(input())
second_num=int(input())

def function_name(operator,first_num,Second_num):
  if operator=='+':
    result= first_num + second_num
    return result
  elif operator=='-':
     result= first_num - second_num
     return result   
  elif operator=='*':
     result= first_num * second_num
     return result
  elif operator=='/':
     result= first_num / second_num
     return result

function_name(operator,first_num,second_num)

Operator:+
Number1:50
Number2:30
80.0

In [ ]:
#14
def function_name(words,pos):
  new_word=''
  first = words[0]
  extra_word=''
  final_word=''

  for i in range(1,len(words)):
    if i%pos !=0:
      new_word=new_word+words[i]
    else:
      extra_word=extra_word+words[i]
  final_word=first+new_word + extra_word
  return final_word


output=function_name("I love programming.",3)
print(output)

I lveprgrmmngo oai.

In [ ]:
#15
list1= input("List:")
location= input("Address:")
def function_name(a,location= "dhanmondi"):
  a= a.replace("'","")
  a= a[1:-1]
  a= a.replace('"',"")
  a= a.replace(" ","")
  a= a.split(",")
  location= location.lower
  sum= 0
  dict1= {"Rice":105, "Potato":20, "Chicken":250, "Beef":510, "Oil":85}
  for i in a:
    sum+= dict1[i]
  if location=="":
    sum+=30
  elif location =="dhanmondi":
    sum+= 30
  else:
    sum+= 70
  return sum
function_name(a= list1,location= location)

List:["Rice", "Beef", "Rice"]
Address:dhanmondi

790