In [ ]:
#1
inp=int(input("enter number:"))
def even_cheaker(inp):
  if inp%2==0:
    print("even")
  else:
    print('odd')  

even_cheaker(inp)

enter number:5
odd

In [ ]:
#2
def fibonacci(x):
  x=int(x)
  a=0
  b=1
  print(a,b,end=' ')

  while (a+b)<=x:
    c=a+b
    a=b
    b=c
    print(c,end=' ')

fibonacci(5)

1 2 3 5

In [ ]:
#3
inp=int(input('Enter:'))
def foo_moo(inp):

  if inp%2==0:
    return 'Foo'
  elif inp%3==0:
    return "Moo" 
  elif inp%2==0 and  inp%3==0 :
    return "FooMoo"
  else:
    return 'Boo'

foo_moo(inp)

Enter:2

'Foo'

In [ ]:
#4
inp=input('Enter:')
def function_name(inp):
  upper=0
  lower=0

  for i in inp:
    if i.isupper():
      upper+=1
    elif i.islower():
      lower+=1

  print(upper)
  print(lower)

function_name(inp)

Enter:The quick Sand Man
3
12

In [ ]:

#4etra
def fn_nc(x):
  upp=0
  low=0
  for i in x:
   if "A"<=i<="Z":
     upp+=1
   elif i==" ":
     pass
   else:
     low+=1
  print(upp)
  print(low)
x=input()
fn_nc(x)

HaRRy PotteR
5
6

In [ ]:
#5
age=int(input())
salary=float(input())
designation=input()

def calculate_tax(age,salary,designation):
  tax=0
  if age<18 or designation=="president" or salary<10000:
    tax=0
  elif salary>10000 and salary<20000:
    tax=salary*(5/100)
  elif salary >20000:
    tax=salary*(10/100) 

  print(tax)   
calculate_tax(age,salary,designation)





#or

20
18000
am
900.0

In [ ]:
#6
inp=int(input())
def function_name(inp):
  years=inp//365
  rem=inp%365
  months=rem//30
  days=rem%30

  print("years:",years,'months:',months,'days:',days)
function_name(inp)

4330
years: 11 months: 10 days: 15

In [ ]:
#7
def show_palindrome(inp):
  for i in range(1,inp+1):
    a=print(i,end='')
  for i in range(inp-1,0,-1):
    b=print(i,end='')

show_palindrome(5)

123454321

In [ ]:
#8

In [ ]:
#9
def area_circumference_generator(inp):
  import math
  area=math.pi*inp**2
  cir=2*math.pi*inp
  a=(area,cir)
  return a

n= area_circumference_generator(inp)
inp=int(input())  
print(n)
b,c=n
print(f"Area of the circle is {b} and circumference is {c}")

1
(3.141592653589793, 6.283185307179586)
Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#10
def make_square(a_tuple):
  start,end=a_tuple
  a_dict={}


  for i in range(start,end+1):
    key=i
    value=i**2
    a_dict[key]=value
  return a_dict

make_square((1,3))

{1: 1, 2: 4, 3: 9}

In [ ]:
#11
def rem_duplicate(a_tuple):
  a_list=list(a_tuple)
  new_list=[]


  for i in a_list:
    if i not in new_list:
      new_list.append(i)


  new_tuple=tuple(new_list)
  return new_tuple

rem_duplicate((1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4))

(1, 2, 3, 4)

In [ ]:
#12
def function_name(a_list):

  new_list=[]
  for i in a_list:
    if new_list.count(i)<2:
      new_list.append(i)
  return new_list     

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#13
operator=input("op:") 
first_num=int(input())
second_num=int(input())

def function_name(operator,first_num,Second_num):
  if operator=='+':
    result= first_num + second_num
    return result
  elif operator=='-':
     result= first_num - second_num
     return result   
  elif operator=='*':
     result= first_num * second_num
     return result
  elif operator=='/':
     result= first_num / second_num
     return result

function_name(operator,first_num,second_num)

op:+
1
2

3

In [ ]:
#14
def function_name(words,pos):
  new_word=''
  first=words[0]
  extra_word=''
  final_word=''


  for i in range(1,len(words)):
    if i%pos !=0:
      new_word=new_word+words[i]
    else:
      extra_word=extra_word+words[i]
  final_word=first+new_word + extra_word
  return final_word


output=function_name("I love programming.",3)
print(output)

I lveprgrmmngo oai.

In [ ]:
#15