In [ ]:
inp=int(input())
inp1=int(input())
print('sum:',inp+inp1)

5
5
sum: 10

In [ ]:
rad=int(input())
import math

area=math.pi * rad**2
print(area)

4
50.26548245743669

In [ ]:
inp=int(input())
inp1=int(input())

if inp>inp1:
  print('first is greater')
else:
  print('secound is greater')

-33
-3
secound is greater

In [ ]:
inp1=int(input())
inp2=int(input())
result=0
if inp1>inp2:
  result=inp1-inp2
else:
  result=inp2-inp1

print(result)

5
5
0

In [ ]:
inp=int(input())

if inp%2==0:
  print('even')
else:
  print('odd')

7
odd

In [ ]:
inp=int(input())

if inp%2==0 or inp%5==0:
  print(inp)
else:
  print('not a MULTIPLE')

3
not a MULTIPLE

In [ ]:
inp=int(input())

hours=inp//3600
rem=inp%3600
min=rem//60
sec=rem%60
print(hours,min,sec)

10000
2 46 40

In [ ]:
inp=int(input())
if 0>inp>168:
  print('invalid')
elif inp<=40:
  print(200*inp)
elif inp>40:
  print((inp-40)*300+8000)

-30
-6000

In [ ]:
inp=int(input())

if inp<100:
  print(3000-125*(inp)**2)
else:
  print(12000/(4+(inp**2/14900)))

3
1875

In [ ]:
inp=int(input())

if inp>100 or inp<0 :
  print('invalid')
elif 90<inp<100:
  print("a")  
elif 80<inp<89:
  print("b")

#and so on

95
a

In [ ]:
cg=float(input())
credit=int(input())

if credit>30 and cg>=3.8 :
  if 3.80<cg<3.89:
    print('25')
  elif 3.90<cg<3.94:
    print("50")
else:
  print('not eligible')

3.93
78
50

In [ ]:
for i in range(24,-7,-6):
  if i==-6:
    print(i)
  else:
    print(i,end=',')

24,18,12,6,0,-6

In [ ]:
for i in range(18,64,9):
  if i==63:
    print(i)
  else:
    print(i,end=',')

18,27,36,45,54,63

In [ ]:
carname=input()
number=int(input())

for i in range(number):
  print(carname)

fuclyou
5
fuclyou
fuclyou
fuclyou
fuclyou
fuclyou

In [ ]:
count=0
for i in range(601):
  if i%7==0 and i%9==0:
    count=count+i
print(count)

In [ ]:
count=0
for i in range(601):
  if 
  if i%7==0 or i%9==0:
    count=count+i
print(count)

In [ ]:
for i in range(10,50):
  if i%2 !=0:
    print(i,end=' ')

11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [ ]:
inp=int(input())
sum=0
for i in range (inp+1):
  if i%2!=0:
    sum=sum+i**2
  elif i%2==0:
    sum=sum-i**2
print(sum)

5
15

In [ ]:
sum=0
count=0
for i in range(0,10):
  inp=int(input())

  if i%2!=0:
    sum=sum+i
    count=count+1
    avarage=sum/count
print(avarage)

1
2
3
4
5
6
7
8
9
10
5.0

In [ ]:
inp=int(input())
sum=0
for i in range(inp):
  if i%7==0:
    sum=sum+i
print(sum)

50
196

In [ ]:
sum=0
for i in range(5):
  inp=int(input())
  sum=sum+inp
  print('out:',sum)

1
out: 1
2
out: 3
3
out: 6
4
out: 10
5
out: 15

In [ ]:
number=32768

while number>0:
  rem=number%10
  if rem==3:
    print(rem)
  else:  
    print(rem,end=',')
  number=number//10

8,6,7,2,3

In [ ]:
inp=int(input())
count=0
while inp>0:
  count=count+1
  inp=inp//10
print(count)

32768
5

In [ ]:
inp=int(input())
count=0
for i in range(1,inp+1):
  if inp%i==0:
    count=count+1
print(count)

121
3

In [ ]:
inp=int(input())
sum=0
for i in range(1,inp):
  if inp%i==0:
    sum=sum+i

if sum==inp:
    print('Perfect')

else:
    print('not')

33
not

In [ ]:
inp=int(input())
count=0
for i in range(1,inp+1):
  if inp%i==0:
    count=count+1


if count==2:
  print('prime')
else:
  print('not prime')

6
not prime

In [ ]:
quantity = int(input(""))
count = 0
max = 0
min = 0
sum = 0

while count<quantity:
  num = int(input(""))
  sum+=num
  if num>max:
    max=num
  elif num<min:
    min=num
  count+=1
average = sum/count
print('Maximum:',max,'Minimum:',min,'Average is:',average)

6
5
10
4
-1
-100
1
Maximum: 10 Minimum: -100 Average is: -13.5

In [ ]:
inp=int(input())
for i in range(1,inp+1):
  for j in range(1,inp+1):                        #imp**
    print("+",end='')
  print()

5
+++++
+++++
+++++
+++++
+++++

In [ ]:

row=int(input())
column=int(input())
for x in range(1,row+1):
    for y in range(1,column+1):            #use thisimp***
        print(y,end="")
    print(" ")

4
4
1234
1234
1234
1234

In [ ]:
slope = int(input(""))

for i in range(1, slope+1):
  for j in range(1, i+1):                            #imp**
    print(j, end="")
  print("")

5
1
12
123
1234
12345

In [ ]:
inp=input()
len1=len(inp)
rev=inp[-1::-1]
print(rev)

CSE110
011ESC

In [ ]:
inp=input()
num=int(input())
hold=inp[:num+1]
rev=hold[-1::-1]
print(rev+inp[num+1:])

12345
2
32145

In [ ]:
inp=input()
len1=len(inp)
d=False

for i in range(len1):
  if inp[i]=='0' or inp[i]=='1':
    d=True
  else:
    d=False

if d==True:
  print("b")
else:
  print('non b')

101010110101010110
b

In [ ]:
string=input()
if len(string)<4:
  print(string)

elif string.endswith('er'):
    print(string[:-2]+'est')
elif string.endswith('est'):
    print(string)
else:
    print(string+'er')

abc
abc

In [ ]:
inp=input()
len1=len(inp)

for i in range(1,len1+1):
  for j in range(i):
    print(inp[j],end='')
  print()

bangla
b
ba
ban
bang
bangl
bangla

In [ ]:
inp=input()
len1=len(inp)

for i in range(len1):
  asc=ord(inp[i])                           #imp**
  print(inp[i],':',asc)

Programming
P : 80
r : 114
o : 111
g : 103
r : 114
a : 97
m : 109
m : 109
i : 105
n : 110
g : 103

In [ ]:
inp=input()

for i in inp:
  if i=='a':
    print('z')

  else:
    asc=ord(i)
    new=asc+1
    ascc=chr(new)      
    print(ascc,end='')

the cow
uif!dpx

In [ ]:
inp=input()
new=''
for i in inp:
  if i not in new:
    new=new+i
print(new)

In [ ]:
inp=input()
new=''
len1=len(inp)
for i in range(len1):
  if i%2==0:
    pass
  else:
    convert=chr(ord(inp[i])-32)
    new=new+convert
print(new)

string
TIG

In [ ]:
inp=input()
new=''
len1=len(inp)

for i in inp:
  if i not in new:
    new=new+i
print(new)

AAABBBBCDDBBECE
ABCDE

In [ ]:
9
letter=input('enter word:')



s=''                                   #imp**
for i in letter:
    if s=='' or i!= s[len(s)-1]:
        s=s+i
print(s)

enter word:AAABBBBCDDBBECE
ABCDBECE

In [ ]:
newlist=[]
for i in range(5):
  inp=int(input())
  newlist.append(inp)
  print(newlist)

3
[3]
5
[3, 5]
34
[3, 5, 34]
-11
[3, 5, 34, -11]
0
[3, 5, 34, -11, 0]

In [ ]:
inp=input()
newlist=inp.split(',')
length=len(newlist)

for i in range (length):
  if length>3:
     x= newlist[2:length-2]
                                                         #imp***
  else:
      x='not possible'
for j in range(0,len(x)):
  x[j]=int(x[j])      
      
print(x)

[3, 5, 34, -11, 0]
[34]

In [ ]:
newlist=[]
for i in range(5):
  inp=int(input())
  newlist.append(inp)
print(newlist)
rev=newlist[-1::-1]

for i in rev:
  print(i)

1
2
3
4
5
[1, 2, 3, 4, 5]
5
4
3
2
1

In [ ]:
inp=int(input('total num:'))
l1=[]
m1=[]
for i in range(inp):
  inp1=int(input())
  l1.append(inp1)
print(l1)
for i in l1:
  m1.append(i**2)
print(m1)

total num:4
3
5
1
6
[3, 5, 1, 6]
[9, 25, 1, 36]

In [ ]:
givenlist=["hey", "there", "", "what's", "", "up", "", "?"]

newlist=[]
for i in givenlist:
  if i!= "":
    newlist.append(i)                  #rev****
print(newlist)

['hey', 'there', "what's", 'up', '?']

In [ ]:
list_1 = [1, 4, 7, 5]
list_2 = [6, 1, 3, 9]

res = list_1[:-1:] + list_2
print(res)

[1, 4, 7, 5, 6, 1, 3, 9]

In [ ]:
list_one = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list_two = [10, 11, 12, -13, -14, -15, -16]
final=[]

for i in list_one:
  if i%2==0:
    final.append(i)
for i in list_two:
  if i%2==0:
    final.append(i)    
print(final)

[2, 4, 6, 8, 10, 12, -14, -16]

In [ ]:
n=input()
list1=[]
new_list=[]
length=len(n)  
for i in n:
  if i==' ' or i==",":
    pass                                            #inp**
  else:
    list1.append(int(i))  
for i in list1:
    
    if i not in new_list:
        new_list.append(i)
print(new_list)

0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list_one = [1, 4, 3, 2, 6]
list_two = [5, 6, 9, 8, 7]
m=0    
for i in list_one:
    if i in list_two:
        m+=1
    else:
        m=0
if m==0:
    print("False")
else:
    print("True")

True

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))

print(a_tuple[3][3])

400

In [ ]:
gtuple=(10, 20, 24, 25, 26, 35, 70)
len1=len(gtuple)
print(gtuple[2:len1-2])

(24, 25, 26)

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291)
)
print(len(book_info))
for i in book_info:
  print(i)

4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

In [ ]:
book_info = (
("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291)
) 
                                                         #imp***
len1=len(book_info)

for i in range(len1):
  print('{} won the "{}" catagory with {} votes.'.format(book_info[i][1],book_info[i][0], book_info[i][2]))

The Silent Patient won the "Best Mystery & Thriller" catagory with 68821 votes.
The Institute won the "Best Horror" catagory with 75717 votes.
The five won the "Best History & Biography" catagory with 31783 votes.
The Testaments won the "Best Fiction" catagory with 98291 votes.

In [ ]:
Giventuple=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
inp=int(input())
count=0
for i in Giventuple:
  if i==inp:
    count+=1
print(count)

8
4

In [ ]:
Giventuple=('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h')
list1=list(Giventuple)
rev=list1[-1::-1]
tup=tuple(rev)
print(tup)

('h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')

In [ ]:
d1={'Harry':15, 'Draco':8, 'Nevil':19}
d2={'Ginie':18, 'Luna': 14}
d3={'Harry':15, 'Draco':8, 'Nevil':19}

d1.update(d2)
print()

In [ ]:
d1={'Jon': 100, 'Dan':200, 'Rob':30, 'Ned':110}

sum=0
count=0
for values in d1.values():
  sum=sum+values
  count=count+1
print(sum/count)

110.0

In [ ]:
exam_marks= {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
inp=int(input())
new={}
for key,value in exam_marks.items():
  if value>inp:
    new[key]=value
print(new)

170
{'Cierra Vega': 175, 'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
dic={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
max=0
gen={}
for key,value in dic.items():
  if value>max:
    max=value
    gen=key
print(max,gen)

15 mystery

In [ ]:
inp='python programming is fun'
nword=''
for i in inp:
   if i!=' ':
     nword=nword+i
newdic={}

for i in nword:
  if i not in newdic:
    newdic[i]=1
  else:
    newdic[i]+=1
print(newdic)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
sum=0

for value in dict_1.values():
  for i in value:
     sum=sum+1

print(sum)

9

In [ ]:
list_1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]

list_a=[]
list_b=[]
list_c=[]

for i in list_1:
  if i[0]=='a':
    list_a.append(i[1])
  elif i[0]=='b':                               #imp**
    list_b.append(i[1]) 
  elif i[0]=='c':
    list_c.append(i[1])  

new_dict={'a':list_a,'b':list_b,'c':list_c}
print(new_dict)

In [ ]:
def even_cheaker(inp):
  inp=int(input())
  
  if inp%2==0:
    print('Even')
  else:
    print('odd')  
even_cheaker(inp)

9
odd

In [ ]:
def fibonacci(inp):
  inp=int(input())
  a=0
  b=1
  print(a,b,end=' ')
  while(a+b)<=inp:
    c=a+b
    print(c,end=' ')
    a=b
    b=c


fibonacci(inp)

10
0 1 1 2 3 5 8

In [ ]:
inp=int(input('Enter:'))
def foo_moo(inp):

  if inp%2==0:
    print('Foo')
  elif inp%3==0:
    print("Moo") 
  elif inp%2==0 and  inp%3==0 :
    print("FooMoo")
  else:
    print('Boo')

foo_moo(inp)

In [ ]:

def function_name(inp):
  u=0
  inp=input()
  for i in inp:
     if i.isupper():
      u=u+1
 
  print(u)    
function_name(inp)

The quick Sand Man
3

In [ ]:
age=int(input('Enter age:'))
salary=float(input('enter salary:'))
designation=input('Enter designation:')

def calculate_tax(age,salary,designation):
  tax=0
  if age<18 or designation == 'president' or salary<10000 :
      tax=0
  elif salary>=10000 and salary<=20000:
      tax=salary*(5/100)
  elif salary>20000:
      tax=salary*(10/100)   
  return tax 

calculate_tax(age,salary,designation)

In [ ]:
inp=int(input('Enter:'))
def number_of_days(inp):
  years=inp//365
  rem=inp%365
  month=rem//30
  days=rem%30

  print(years,'years',month,'months',days,'days')
number_of_days(inp)

In [ ]:
def show_palindrome(inp):
  inp=int(input())

  for i in range(1,inp+1):
    a=print(i,end='')
  for i in range(inp-1,0,-1) :
    b=print(i,end='')

show_palindrome(inp
                )

5
123454321

In [ ]:

def area_circumference_generator(r):
  import math
  x= 2 * math.pi * r
  y= math.pi * r**2
  a= (y,x) 
  return a 
n= area_circumference_generator(2.5) 
#area_circumference_generator(2.5) 
print(n)
b,c= n
print(f"Area of the circle is {b} and circumference is {c}")

In [ ]:
def make_square(a_tuple):
  start,end=a_tuple
  a_dict={}

  for i in range(start,end+1):
    key=i
    value=i**2
    a_dict[key]=value
  return a_dict

make_square((1,3))

In [ ]:
def rem_duplicate(b_tuple):
  a_list=list(b_tuple)
  new_list=[]

  for i  in a_list:
    if i not in new_list:
      new_list.append(i)

  new_tuple=tuple(new_list)
  return new_tuple
rem_duplicate((1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4))

In [ ]:
def function_name(a_list):

  new_list=[]
  for i in a_list:
    if new_list.count(i)<2:
      new_list.append(i)                      #imp***
  return new_list     

function_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

In [ ]:
operator=input("op:") 
first_num=int(input())
second_num=int(input())

def function_name(operator,first_num,Second_num):
  if operator=='+':
    result= first_num + second_num
    return result
  elif operator=='-':
     result= first_num - second_num
     return result   
  elif operator=='*':
     result= first_num * second_num
     return result
  elif operator=='/':
     result= first_num / second_num
     return result

function_name(operator,first_num,second_num)

In [ ]:
def function_name(words,pos):
  new_word=''
  first = words[0]
  extra_word=''
  final_word=''

  for i in range(1,len(words)):
    if i%pos !=0:
      new_word=new_word+words[i]                    #imp*****
    else:
      extra_word=extra_word+words[i]
  final_word=first+new_word + extra_word
  return final_word


output=function_name("I love programming.",3)
print(output)